@tailwind base;
@tailwind components;
@tailwind utilities;

head {
  background-color: #1f2833;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #f0e68c;
  background-color: #0b0c10;
}
/* Logo Styling */
.logo {
  height: 300px;
  width: 300px;
}
/* Basic Styling for the App */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.App div {
  color: #f0e68c;
  font-size: 24px;
  /* margin-bottom: 20px; */
}
/* Styling for the Buttons */
.button-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding: 20px 0;
  align-items: center;
}

button {
  background-color: #50c878;
  border: 2px solid #d4af37;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 25px;
}
button:hover {
  background-color: #d4af37;
  border: 2px solid #50c878;
  color: black;
}
/* if the button is selected */
.selected {
  background-color: #d4af37;
  border: 2px solid #50c878;
  color: black;
}
/* Seperate button */
.findDrink {
  background-color: #d4af37;
  border: 2px solid #d4af37;
  color: #0b0c10;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 25px;
}
.findDrink:hover {
  background-color: #1f2833;
  color: #50c878;
}

/* Styling for the cards and info for the cards */
.card-container {
  background-color: #0b0c10;
  color: #f0e68c;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin: 10px;
}
.card {
  flex: 1 1 calc(33.33% - 20px);
  max-width: 400px;
  border-color: #1f2833;
  color: #f0e68c;
  border: 1px solid #d4af37;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 400px;
  overflow: hidden;
}

.header {
  font-size: 36px;
  color: #d4af37;
  margin-bottom: 20px;
}

/* style the modial box that shows more details. */
.modal {
  background-color: #0b0c10;

  opacity: 0.95;
  height: calc(100vh - 100px);
  width: 100vw;
  padding: 50px;
  overflow-y: auto;

  z-index: 99999;
}


/* Toggle styling */

.switch {
  position: relative;
  display: inline-flex;    
  justify-content: center;   
  align-items: center;     
  width: 60px;
  height: 34px;
  padding: 2px;           
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #50c878;
  border: 2px solid #d4af37;
  border-radius: 34px;         /* Rounded corners */
  -webkit-transition: .4s;
  transition: .4s;
}

/* The circle inside the slider */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;      
  -webkit-transition: .4s;
  transition: .4s;
}

/* When the input is checked, change the background and the circle's position */
input:checked + .slider {
  background-color: #d4af37;
  border: 2px solid #50c878;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* The slider when it's rounded */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}






/* Add ingredients text container */
.ingredientsBox {
  display: flex;
  justify-content: center;
  align-items: center; 
  max-width: 400px;
  border-radius: 8px;
  gap: 10px; 
}

/* Input field container */
.ingredientsInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Input field */
.ingredientsInput input {
  background-color: #e0c773;
  padding-left:10px;
  font-size: 1rem;
  border: 2px solid #50c878;
  border-radius: 5px;
  color:#484848;
  height: 40px;
  flex-grow: 1; 
}

/* Focus effect for the input */
.ingredientsInput input:focus {
  border-color: #50c878;
  outline: none;
}

/* Submit button */
.submitButton {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #32804c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; 
  height: 40px; 
}

/* add a container to hold the list of ingredients */

/* individual button */
.individualIngredients {
  background-color: #50c878;
  border: 2px solid #d4af37;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 25px;
}