/* * {
  background-color: white;
} */
head {
  background-color: black;
}
body {
  background-color: grey;
}
h1 {
  text-align: center;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.726);
}
.logo {
  height: 100px;
  width: 100px;
}
/* div {
  flex: content;
  align-content: center;
} */
