head {
  background-color: #1f2833;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #f0e68c;
  background-color: #0b0c10;
}
/* Logo Styling */
.logo {
  height: 300px;
  width: 300px;
}
/* Basic Styling for the App */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.App div {
  color: #f0e68c;
  font-size: 24px;
  margin-bottom: 20px;
}
/* Styling for the Buttons */
.button-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 20px 0;
}
button {
  background-color: #50c878;
  border: 2px solid #d4af37;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 25px;
}
button:hover {
  background-color: #d4af37;
  border: 2px solid #50c878;
  color: black;
}
/* if the button is selected */
.selected {
  background-color: #d4af37;
  border: 2px solid #50c878;
  color: black;
}
/* Seperate button */
.findDrink {
  background-color: #d4af37;
  border: 2px solid #d4af37;
  color: #0b0c10;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 25px;
}
.findDrink:hover {
  background-color: #1f2833;
  color: #50c878;
}

/* Styling for the cards and info for the cards */
.card-container {
  background-color: #0b0c10;
  color: #f0e68c;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin: 10px;
}
.card {
  flex: 1 1 calc(33.33% - 20px);
  max-width: 400px;
  border-color: #1f2833;
  color: #f0e68c;
  border: 1px solid #d4af37;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 400px;
  overflow: hidden;
}

.header {
  font-size: 36px;
  color: #d4af37;
  margin-bottom: 20px;
}

/* style the modial box that shows more details. */
.modal {
  background-color: #0b0c10;

  opacity: 0.95;
  height: calc(100vh - 100px);
  width: 100vw;
  padding: 50px;
  overflow-y: auto;

  z-index: 99999;
}
